VITE_TB_BASE_URL=http://58.210.46.6:8888
VITE_AMAP_KEY=
VITE_AMAP_SECURITY_CODE=
# VITE_TB_MANAGED_DEVICES=[{"name":"WC310BL","siteCount":8}]
# VITE_TB_DEVICE_MAPPINGS=[{"name":"WC310BL","rpcGatewayName":"ble网关"}]
